.section {
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (min-width: 768px) {
}
@media screen and (min-width: 1280px) {
  .section {
    padding-top: 100px;
    padding-bottom: 100px;
  }
}
