<section class="no-cocktails section">
	<div class="no-cocktails-container container">
		<p class="no-cocktails-title">Favorite cocktails</p>
		<p class="no-cocktails-subtitle">You haven't added any favorite cocktails yet</p>
	</div>
</section>