<section class="no-cocktails section">
	<div class="no-cocktails-container container">
		<p class="no-cocktails-title">Favorite ingredient</p>
		<p class="no-cocktails-subtitle">You haven't added any favorite ingredients yet</p>
	</div>
</section>