// @mixin text($fw, $fs, $lh) {
//   font-weight: $fw;
//   font-size: $fs;
//   line-height: calc($lh / $fs);
// }

@mixin text($fs, $fw, $lh) {
  font-weight: $fw;
  font-size: $fs;
  line-height: calc($lh / $fs);
}
