:root {
  --basic-font: 'Poppins', sans-serif;
  --basic-font-size: 18px;
  --text-white-color: #ffffff;
  --text-dark-color: #202025;
  --alphabet-color: #5f6775;
  --accent-white-color: #fcfcfc;
  --accent-dark-orange: #fd5103;
  --accent-light-orange: #fe7031;

  --background-light: #fcfcfc;
  --background-dark: #202025;
}
