<section class="cards section">
	<div class="cards-container container">
		<article class="card">
			<img class="card-photo" src="./images/cards/Vampiro.jpg" alt="">
			<p class="card-title">Negroni</p>
			<div class="card-btn-wrapper">
				<button type="button" class="card-btn card-btn__learn">Learn more</button>
				<button type="button" class="card-btn card-btn__add">Add to
					<svg width="17" height="15">
						<use href="./images/symbol-defs.svg#icon-heart"></use>
					</svg>
				</button>
			</div>
		</article>

		<article class="card">
			<img class="card-photo" src="./images/cards/Vampiro.jpg" alt="">
			<p class="card-title">Negroni</p>
			<div class="card-btn-wrapper">
				<button type="button" class="card-btn card-btn__learn">Learn more</button>
				<button type="button" class="card-btn card-btn__add">Add to
					<svg width="17" height="15">
						<use href="./images/symbol-defs.svg#icon-heart"></use>
					</svg>
				</button>
			</div>
		</article>

		<article class="card">
			<img class="card-photo" src="./images/cards/Vampiro.jpg" alt="">
			<p class="card-title">Negroni</p>
			<div class="card-btn-wrapper">
				<button type="button" class="card-btn card-btn__learn">Learn more</button>
				<button type="button" class="card-btn card-btn__add">Add to
					<svg width="17" height="15">
						<use href="./images/symbol-defs.svg#icon-heart"></use>
					</svg>
				</button>
			</div>
		</article>

		<article class="card">
			<img class="card-photo" src="./images/cards/Vampiro.jpg" alt="">
			<p class="card-title">Negroni</p>
			<div class="card-btn-wrapper">
				<button type="button" class="card-btn card-btn__learn">Learn more</button>
				<button type="button" class="card-btn card-btn__add">Add to
					<svg width="17" height="15">
						<use href="./images/symbol-defs.svg#icon-heart"></use>
					</svg>
				</button>
			</div>
		</article>
		<article class="card">
			<img class="card-photo" src="./images/cards/Vampiro.jpg" alt="">
			<p class="card-title">Negroni</p>
			<div class="card-btn-wrapper">
				<button type="button" class="card-btn card-btn__learn">Learn more</button>
				<button type="button" class="card-btn card-btn__add">Add to
					<svg width="17" height="15">
						<use href="./images/symbol-defs.svg#icon-heart"></use>
					</svg>
				</button>
			</div>
		</article>

		<article class="card">
			<img class="card-photo" src="./images/cards/Vampiro.jpg" alt="">
			<p class="card-title">Negroni</p>
			<div class="card-btn-wrapper">
				<button type="button" class="card-btn card-btn__learn">Learn more</button>
				<button type="button" class="card-btn card-btn__add">Add to
					<svg width="17" height="15">
						<use href="./images/symbol-defs.svg#icon-heart"></use>
					</svg>
				</button>
			</div>
		</article>
	</div>
</section>