<header class="header">
	<div class="container header__container">
		<a href="/src/index.html" class="logo link">COCKTAILS </a>
		<div class="page-header">
			<nav class="menu is-open">
				<ul class="site-nav list">
					<li class="site-nav__item item">
						<a href="index.html" class="site-nav__link link">Home</a>
					</li>
					<li class="site-nav__item item site-nav-favorite-wrapper">
						<span>Favorite</span>
						<div class="favorite-wrapper">
							<a href="/src/favorites.html" class="site-nav__link link site-nav-favorite-cocktails">Favorite
								cocktails</a>
							<a href="/src/ingridients.html" class="site-nav__link link site-nav-favorite-ingridients">Favorite
								ingridients</a>
						</div>
					</li>
				</ul>
				<!--  -->
				<form action="search" class="search-form">
					<button class="search-form__btn" type="submit" width="32" height="32">
						<svg class="search-form__icon" width="24" height="24">
							<use href="./images/symbol-defs.svg#icon-search"></use>
						</svg>
					</button>
					<input type="search" id="search" class="search-form__input" name="drink" />
				</form>
				<!-- sds -->
				<div class="site-nav__switcher">
					<form class="form-toggle">
						<label class="label-toggle label-light-toggle-light-theme">Light</label>
						<input class="toggle" type="checkbox" />
						<label class="label-toggle label-dark-toggle-light-theme">Dark</label>
					</form>
				</div>
			</nav>
			<button type="button" class="mobile-menu__btn" data-menu-open>
				<svg class="mobile-menu__btn__icon" width="30" height="16">
					<use href="/src/images/symbol-defs.svg#icon-menu"></use>
				</svg>
			</button>
		</div>

		<div class="mobile-menu" data-menu>
			<a href="/src/index.html" class="mobile-logo logo link">COCKTAILS</a>
			<button type="button" class="mobile-menu__close-btn" data-menu-close>
				<svg class="mobile-menu__close-icon" width="18" height="18">
					<use href="/src/images/symbol-defs.svg#icon-close"></use>
				</svg>
			</button>
			<ul class="mobile-menu__list list">
				<li class="mobile-menu__item switcher item">
					<form class="form-toggle">
						<label class="label-toggle label-toggle2 label-light-toggle-light-theme">Light</label>
						<input class="toggle toggle2" type="checkbox" />
						<label class="label-toggle label-toggle2 label-dark-toggle-light-theme">Dark</label>
					</form>
				</li>
				<li class="mobile-menu__item searcher item">
					<!--  -->
					<form action="search" class="search-form search-form-mobile">
						<button class="search-form__btn mobile-btn-search" type="submit">
							<svg class="search-form__icon" width="24" height="24">
								<use href="./images/symbol-defs.svg#icon-search"></use>
							</svg>
						</button>
						<input type="search" name="drink" id="search" class="search-form__input" />
					</form>
				</li>
				<li class="mobile-menu__item nav item">
					<a href="/src/index.html" class="site-nav__link link">Home</a>
				</li>
				<li class="mobile-menu__item nav item mobile-menu__item-wrapper">
					<span class="mobile-favorite">Favorites</span>
					<button class="mobile-arrow-btn">
						<svg width="24" height="24" class="mobile-arrow">
							<use href="./images/symbol-defs.svg#icon-arrow"></use>
						</svg>

					</button>
					<div class="mobile-favorites">
						<a href="favorites.html" class="mobile-nav__link link mobile-nav-favorite-cocktails">Favorite
							cocktails</a>
						<a href="ingridients.html" class="mobile-nav__link link mobile-nav-favorite-ingridients">Favorite
							ingridients</a>
					</div>
				</li>
			</ul>
		</div>
	</div>
	<div class="icons-all">
		<svg>
			<use href="./images/symbol-defs.svg#icon-close" class="div-icon-close"></use>
		</svg>
		<svg>
			<use href="./images/symbol-defs.svg#icon-heart" class="div-icon-heart1"></use>
		</svg>
		<svg>
			<use href="./images/symbol-defs.svg#icon-heart2" class="div-icon-heart2"></use>
		</svg>
	</div>
</header>