
<section class="hero section">
    <div class="cards-container container">
        <h1 class="hero__title">A party without cocktails 
            is not like a party</h1>
        </div>        
        <div class="hero__picture">        
        <picture>
                <!-- DESKTOP -->
                <source
                srcset="./images/hero/desktop/sangria-cocktail@1x.webp, ./images/hero/desktop/sangria-cocktail@2x.webp"
                media="(min-width: 1280px)" type="image/webp" />
                <source
                srcset="./images/hero/desktop/sangria-cocktail@1x.png, ./images/hero/desktop/sangria-cocktail@2x.png"
                media="(min-width: 1280px)" />
                            
                <!-- TABLET -->
                <source srcset="./images/hero/tablet/sangria-cocktail@1x.webp, ./images/hero/tablet/sangria-cocktail@2x.webp"
                media="(min-width: 768px)" type="image/webp" />
                <source srcset="./images/hero/tablet/sangria-cocktail@1x.png, ./images/hero/tablet/sangria-cocktail@2x.png"
                media="(min-width: 768px)" />
                
                <!-- MOBILE -->
                <source srcset="./images/hero/mobile/sangria-cocktail@1x.webp, ./images/hero/mobile/sangria-cocktail@2x.webp"
                media="(max-width: 767px)" type="image/webp" />
                <source srcset="./images/hero/mobile/sangria-cocktail@1x.png, ./images/hero/mobile/sangria-cocktail@2x.png"
                media="(max-width: 767px)" />
                <img src="./images/hero/mobile/sangria-cocktail@1x.png" class="hero__cocktail-pictures" alt="cocktail" />
        </picture>
        </div>        
        <div class="hero__discripyion">
            <p class="hero__text">Search your favorite cocktail by ABC</p>
        </div>
        <div class="hero__items">
            <form class="hero__form form-mobile" >
                <select class="hero__form-name js-hero-mobile">
                                                   
                </select>
            </form>

            <ul class="hero__form form-desktop js-hero-desktop" >
            </ul>
        </div>

    </div>
</section>
