.cards-container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 28px;
}
.cards-title {
  text-align: center;
  margin-bottom: 60px;
}
.card {
  font-family: var(--second-font);
  border: 1px solid var(--accent-dark-orange);
  border-radius: 4px;
  overflow: hidden;
}
.card-photo {
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 48px;
}

.card-title {
  @include text(26px, 900, 42px);
  text-align: center;
  color: var(--text-dark-color);
  margin-bottom: 16px;
}

.card-btn-wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
  row-gap: 10px;
  margin-bottom: 24px;
  padding: 0px 8px;
}
@media screen and (min-width: 300px) {
  .card-btn-wrapper {
    flex-direction: row;
    justify-content: center;
    column-gap: 20px;
    margin-bottom: 24px;
  }
}

.card-btn {
  @include text(20px, 400, 24px);
  text-align: center;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.02em;
  padding: 7px 17px;
  border: 1px solid var(--accent-light-orange);
  border-radius: 4px;
}

.card-btn__learn {
  background-color: var(--accent-light-orange);
  color: var(--text-white-color);
}
.card-btn__learn:hover {
  background-color: var(--accent-dark-orange);
}
.card-btn__add {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 7px 20px;
  column-gap: 8px;
  color: var(--accent-light-orange);
  background-color: transparent;
}
.card-btn__add:hover {
  color: var(--text-white-color);
  background-color: var(--accent-light-orange);
}
.card-btn__remove {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 7px 20px;
  column-gap: 8px;
  color: var(--accent-light-orange);
  background-color: transparent;
}
.card-btn__remove:hover {
  color: var(--text-white-color);
  background-color: var(--accent-light-orange);
}

@media screen and (max-width: 450px) {
  .card-photo {
    width: 100%;
  }
}
@media screen and (min-width: 450px) {
  .card-photo {
    width: 400px;
  }
}

@media screen and (min-width: 768px) {
  .card-btn {
    padding: 12px 20px;
    @include text(20px, 400, 24px);
  }
  .card-btn__add {
    padding: 12px 26px 13px 12px;
  }
  .card-photo {
    width: 335px;
  }
}
@media screen and (min-width: 1280px) {
  .card-btn {
  }
  .card-btn__add {
    padding: 12px 21px 12px 24px;
  }
  .card-btn-wrapper {
    padding: 0px 28px;
  }
  .card-photo {
    width: 395px;
  }
}
